.form-add-realestate .btn{
   margin-top: 30px ;
}
.section{
   margin-top: 40px;
}
.section .title-block  h2{
  text-align: center;
}
.section .title-block{
   margin-top: 30px;
}
.section article{
   margin-top: 30px;
}
.post-list .characteristics{
   margin-top: 0;
}
.content-city{
   margin-top: 30px;
   margin-bottom: 30px;
}